body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#410a3c;
    width:fit-content;
    margin:auto;
}
.card{
    border-color:#cea861;
    border-width:8px;
    border-style:outset;
     width:fit-content;
     border-radius:8px;  
     background-color:#1C2024;
     box-shadow: 2px 0px  #845b0d7e;
     padding:8px;
}
.title{
    font:bolder;
    color:#D4AF37;
    font-size: 40px;
    font-weight: bold;
}
.text{
    color:rgb(150, 50, 150);
    font-size:20px;
}
.btn{
    color:#C5A059;
    background-color:#1a2025db;
    font-weight:bold;
    padding: 0px 46px;
}
a:hover{
    color:rgba(155, 6, 128, 0.765);
}